* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

img:hover {
	cursor: pointer;
}

.cat:hover {
	cursor: pointer;
	background-color: '#d3d3d3';
}

img {
	max-height: 500px;
	max-width: 500px;
}

.name,
.count {
	max-width: 500px;
	font-size: 24px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.clearfix:after {
	clear: both;
}

.count {
	margin: 10px;
}

#admin-button {
	width: 100px;
	height: 60px;
	background-color: #94b9eb;
	border: solid #94b9eb;
	border-radius: 3px;
}

#admin-button:hover {
	cursor: pointer;
}

#save,
#cancel {
	display: inline-block;
	cursor: pointer;
	width: 70px;
	height: 40px;
	background-color: #94b9eb;
	border: solid #94b9eb;
	border-radius: 3px;
}

#save:hover,
#cancel:hover {
	cursor: pointer;
}